header{
    padding-bottom: 15px;
}

h1{
    position: relative;
    left: 15px; 
    font-size: 45px;
    color: lightsalmon;
    font-style: italic;
}

nav{
    position: absolute;
    top: 15px; right: 0px;
}

nav li{
    display: inline;
    margin: 0 20px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    color: firebrick;
}

nav a:hover{
    color: burlywood;
}

nav a:active{
    color: khaki;
}

main{
    text-align: center;
    font-weight: bold;
}

#banner{
    width: 99.8%;
}

footer{
    background-image: url(img-footer.jpg);
    text-align: center;
}











