.titulo-principal{
    background-color: aquamarine;
}

.titulo{
    position: absolute;
    left: 1%;
    vertical-align: text-top;
    display: inline-block;;
    color: peachpuff;
    font-size: 25px;
    font-style: italic;
}

#banner{
    width: 100%;
}

#logo{
    position: absolute;
    top: 2%;
    left: 80.2%;
}

.apresentação{
    background-color: blueviolet;
}

.titulo-apresentação{
    text-align: center;
}

#mamãecozinheira{
    padding-left: 0.5%;

}

.P1{
    font-size: 25px;
}




