header{
    padding-bottom: 15px;
}

h1{
    position: relative;
    left: 15px; 
    font-size: 45px;
    color: lightsalmon;
    font-style: italic;
}

nav{
    position: absolute;
    top: 15px; right: 0px;
}

nav li{
    display: inline;
    margin: 0 20px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    color: firebrick;
}

nav a:hover{
    color: burlywood;
}

nav a:active{
    color: khaki;
}

.container-apresentação{
    position: relative;
    padding-bottom: 18.5%;
    background-color: mistyrose;
}

.container-img-apresentação{
    width: 50%;
    position: absolute;
    top: 0px; left: 0px;
    text-align: center;
}

#img-apresentação{
    border-radius: 3%;
	border: 3px solid black;
}

.container-p-apresentação{
    position: absolute;
    top: 0px; right: 0px;
    width: 50%;
}

.p-apresentação{
    padding-right: 40%;
    padding-top: 7%;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif
}

.container-missão{
    position: relative;
    padding-bottom: 20%;
    background-color: cornsilk;
}

.container-img-missão{
    width: 50%;
    position: absolute;
    top: 0px; right: 0px;
    text-align: center;
}

#img-missão{
    border-radius: 3%;
	border: 3px solid black;
}

.container-p-missão{
    position: absolute;
    top: 0px; left: 0px;
    width: 50%;
}

.p-missão{
    padding-left: 40%;
    padding-top: 7%;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif
}

.container-atualmente{
    position: relative;
    padding-bottom: 13%;
    background-color: mistyrose;
}

.container-img-atualmente{
    width: 50%;
    position: absolute;
    top: 0px; left: 0px;
    text-align: center;
}

#img-atualmente{
    border-radius: 3%;
	border: 3px solid black;
}

.container-p-atualmente{
    position: absolute;
    top: 0px; right: 0px;
    width: 50%;
}

.p-atualmente{
    padding-right: 40%;
    padding-top: 5%;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif
}

.container-convite{
    position: relative;
    padding-bottom: 20.5%;
    background-color: cornsilk;
}

.container-img-convite{
    width: 50%;
    position: absolute;
    top: 0px; right: 0px;
    text-align: center;
}

#img-convite{
    border-radius: 3%;
	border: 3px solid black;
}

.container-p-convite{
    position: absolute;
    top: 0px; left: 0px;
    width: 50%;
}

.p-convite{
    padding-left: 40%;
    padding-top: 7%;
    font-size: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}

.container-copyright{
    text-align: center;
    font-weight: bold;
}

footer{
    background-image: url(img-footer.jpg);
    text-align: center;
}
