#banner{
    width: 100%;
}

h1{
    position: absolute;
    top: 53px; left: 20px;
    font-size: 45px;
    color: lightsalmon;
    font-style: italic;
}

nav{
    position: absolute;
    top: 63px; right: 20px;
}

nav li{
    display: inline;
    margin: 0 20px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: firebrick;
}

nav a:hover{
    color: aliceblue;
}

nav a:active{
    color: khaki;
}

footer{
    background-image: url(img-footer.jpg);
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

.copyright{
    position: relative;
    bottom: 20px;
}









