header{
    padding-bottom: 15px;
}

h1{
    position: relative;
    left: 15px; 
    font-size: 45px;
    color: lightsalmon;
    font-style: italic;
}

nav{
    position: absolute;
    top: 15px; right: 0px;
}

nav li{
    display: inline;
    margin: 0 20px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    color: firebrick;
}

nav a:hover{
    color: burlywood;
}

nav a:active{
    color: khaki;
}

.carne-chocolate{
    background-color: mistyrose;
    border: 1px solid black;
    padding-bottom: 15.5%;
    position: relative;
}

.carne{
    width: 50%;
    position: absolute;
}

#img-carne{
    position: absolute;
    right: 0px;
    border-radius: 3%;
	border: 3px solid black;
}

.h-carne{
    text-align: left;
    padding-left: 1%;
    padding-bottom: 2%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.p-carne{
    text-align: left;
    padding-left: 1%;
    padding-right: 45%;
    padding-bottom: 2%;
    font-size: 17px;
    position: relative;
}

.preço-carne{
    padding-left: 1%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.chocolate{
    position: absolute;
    right: 0px;
    width: 50%;
}

#img-chocolate{
    position: absolute;
    left: 0px;
    border-radius: 3%;
	border: 3px solid black;
}

.h-chocolate{
    text-align: right;
    padding-right: 1%;
    padding-bottom: 2%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.p-chocolate{
    text-align: right;
    padding-right: 1%;
    padding-left: 45%;
    padding-bottom: 2%;
    font-size: 17px;
    position: relative;
}

.preço-chocolate{
    text-align: right;
    padding-right: 1%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.presuntoqueijo-docedeleite{
    background-color: cornsilk;
    border: 1px solid black;
    padding-bottom: 15.5%;
    position: relative;
}

.presuntoqueijo{
    width: 50%;
    position: absolute;
}

#img-presuntoqueijo{
    position: absolute;
    right: 0px;
    border-radius: 3%;
	border: 3px solid black;
}

.h-presuntoqueijo{
    text-align: left;
    padding-left: 1%;
    padding-bottom: 2%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.p-presuntoqueijo{
    text-align: left;
    padding-left: 1%;
    padding-right: 45%;
    padding-bottom: 2%;
    font-size: 17px;
    position: relative;
}

.preço-presuntoqueijo{
    padding-left: 1%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.docedeleite{
    position: absolute;
    right: 0px;
    width: 50%;
}

#img-docedeleite{
    position: absolute;
    left: 0px;
    border-radius: 3%;
	border: 3px solid black;
}

.h-docedeleite{
    text-align: right;
    padding-right: 1%;
    padding-bottom: 2%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.p-docedeleite{
    text-align: right;
    padding-right: 1%;
    padding-left: 45%;
    padding-bottom: 2%;
    font-size: 17px;
    position: relative;
}

.preço-docedeleite{
    padding-right: 1%;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.frango-banana{
    background-color: mistyrose;
    border: 1px solid black;
    padding-bottom: 16.6%;
    position: relative;
}

.frango{
    width: 50%;
    position: absolute;
}

#img-frango{
    position: absolute;
    right: 0px;
    border-radius: 3%;
	border: 3px solid black;
}

.h-frango{
    text-align: left;
    padding-left: 1%;
    padding-bottom: 2%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.p-frango{
    text-align: left;
    padding-left: 1%;
    padding-right: 45%;
    padding-bottom: 2%;
    font-size: 17px;
    position: relative;
}

.preço-frango{
    padding-left: 1%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.banana{
    position: absolute;
    right: 0px;
    width: 50%;
}

#img-banana{
    position: absolute;
    left: 0px;
    border-radius: 3%;
	border: 3px solid black;
}

.h-banana{
    text-align: right;
    padding-right: 1%;
    padding-bottom: 2%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.p-banana{
    text-align: right;
    padding-right: 1%;
    padding-left: 45%;
    padding-bottom: 2%;
    font-size: 17px;
    position: relative;
}

.preço-banana{
    text-align: right;
    padding-right: 1%;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.h-delivery{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}

.contatos{
    text-align: center;
}

.contatos li{
    display: inline;
    padding: 4px 4px;
    border-radius: 5%;
	border: 2px solid black;
}

.contatos li:hover{
	border-color: burlywood;
}

.contatos li:active{
	border-color: cornflowerblue;
}

.copyright{
    text-align: center;
    padding-top: 1%;
    font-weight: bold;
}

footer{
    background-image: url(img-footer.jpg);
    text-align: center;
}







